In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from scipy import stats

In [2]:
df=pd.read_excel('AirQualityUCI.xlsx')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'AirQualityUCI.xlsx'

In [3]:
len(df)

9357

In [4]:
len(df.columns)

14

In [5]:
# n_neg_values=[]
# for col in df.columns:
#     n_neg_values.append(df[col].lt(0).sum())

In [6]:
date_df=df[['Date', 'Time']]

In [7]:
df.drop(['Date', 'Time'], axis=1, inplace=True)

In [8]:
# np.isnan(df['NO2(GT)'].iloc[999])

In [9]:
df[df == -200] = np.nan

In [10]:
df = pd.concat([date_df, df], axis=1, sort=False)

In [11]:
date = df['Date'].iloc[60]
date

Timestamp('2004-03-13 00:00:00')

In [12]:
df.loc[df['Date'] == date].index[0]

54

In [13]:
def find_date_mean(df, col, date):
    i = df.loc[df['Date'] == date].index[0]
    avg = df[col].iloc[i:i+24].mean(skipna=True)
    if np.isnan(avg):
        avg = 0
    return avg

In [14]:
find_date_mean(df, 'CO(GT)', df['Date'].iloc[999])

0

In [15]:
useless_dates=[]
avgs=[]
for col in df.columns[2:]:
    for row in range(len(df)):
        if np.isnan(df[col].iloc[row]):
            date = df['Date'].iloc[row]
            avg = find_date_mean(df, col, date)
            if avg!=0:
                avgs.append(avg)
            if avg==0:
                useless_dates.append(date)
                avg = avgs[-1]
            df[col].iloc[row] = avg

/home/aishit/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [16]:
df.iloc[:1000]

,Date,Time,CO(GT),PT08.S1(CO),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10,18:00:00,2.600000,1360.00,11.881723,1045.50,166.000000,1056.25,113.000000,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10,19:00:00,2.000000,1292.25,9.397165,954.75,103.000000,1173.75,92.000000,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10,20:00:00,2.200000,1402.00,8.997817,939.25,131.000000,1140.00,114.000000,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10,21:00:00,2.200000,1375.50,9.228796,948.25,172.000000,1092.00,122.000000,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10,22:00:00,1.600000,1272.25,6.518224,835.50,131.000000,1205.00,116.000000,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2004-04-21,05:00:00,2.233333,870.75,3.702709,694.00,130.666667,1159.50,90.333333,1420.50,779.00,10.100,71.824999,0.888049
996,2004-04-21,06:00:00,2.233333,1034.50,8.731502,928.75,130.666667,886.50,90.333333,1598.75,1008.50,10.225,70.925001,0.884123
997,2004-04-21,07:00:00,2.233333,1512.75,27.032572,1479.75,130.666667,572.25,90.333333,2248.75,1594.50,11.750,65.999998,0.908528
998,2004-04-21,08:00:00,2.233333,1726.25,40.260061,1776.25,130.666667,478.00,90.333333,2684.00,1939.75,14.025,58.200000,0.927118
999,2004-04-21,09:00:00,2.233333,1396.00,19.976244,1295.75,130.666667,619.25,90.333333,1990.75,1628.25,17.000,50.200000,0.964596

In [24]:
df.to_excel('clean_data.xlsx', index=False)

In [3]:
df=pd.read_excel('clean_data.xlsx')

In [6]:
df.describe().to_excel('Statistics.xlsx')